body {
  height: 100vh;
  margin: 0px;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  background: url('../images/nature.jpg') no-repeat;
  background-size: cover;
}

.frame {
  width: 312px;
  height: 458px;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ear {
  display: flex;
}

.ear1,
.ear2 {
  height: 78px;
  width: 84px;
  background: #916953;
  border-radius: 100%;
  position: relative;
  top: 16px;
}

.face {
  height: 155px;
  width: 85%;
  background: #916953;
  border-radius: 100%;
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eyes {
  display: flex;
  margin-top: 50px;
}

.inner-ear {
  width: 51px;
  height: 51px;
  background: #f5d1f1;
  border-radius: 100%;
  left: 17px;
  position: absolute;
  top: 10px;
}

.eye1,
.eye2 {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
}

.eye2 {
  margin-left: 46px;
}

.nose {
  width: 40px;
  height: 34px;
  background: white;
  border-radius: 100%;
  margin-top: 15px;
}

.mouth {
  width: 19px;
  height: 13px;
  background: #252323;
  border-radius: 100%;
  margin: 4px 0px 1px 10px;
}

.teddy-body {
  height: 211px;
  width: 85%;
  background: #916953;
  border-radius: 30%;
  margin-top: 84px;
  border-top: 8px solid #695d5da8;
}

.teddy-inner-body {
  height: 159px;
  width: 72%;
  background: #f5d1f2;
  border-radius: 35%;
  margin-top: 22px;
  margin-left: 23px;
}

.leg1 {
  height: 59px;
  width: 48px;
  background: #916953;
  border-radius: 0% 0% 31% 32%;
  position: absolute;
  border-bottom: 11px solid #f5d1f2;
  bottom: 45px;
  left: 0px;
  transform: rotate(34deg);
}

.leg2 {
  height: 59px;
  width: 48px;
  background: #916953;
  border-radius: 0% 0% 31% 32%;
  position: absolute;
  border-bottom: 11px solid #f5d1f2;
  bottom: 45px;
  right: 27px;
  transform: rotate(-32deg);
}